{
  "name": "{{ service_name }}",
  "type": "{{ service_name }}",
  "roles": [
    {
      "name": "spark-client",
      "type": "GATEWAY",
      "hostRef": {
        "hostId": "{{ groups['edge'][0] }}"
      },
      "config": {}
    }
  ]
}
