{
  "name": "{{ service_name }}",
  "type": "{{ service_name }}",
  "configs": [
    {
      "name": "yarn_service",
      "ref": "YARN"
    }
  ],
  "roles": [
    {
      "name": "spark-client",
      "type": "GATEWAY",
      "hostRef": {
        "hostId": "{{ groups['edge'][0] }}"
      },
      "config": {}
    }
  ]
}
